<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
   
    <% include ./partials/_header %>
    
    <a href="/urls/new">Create New TinyURL</a>
    
    <p><h2>My URLs</h2>

    <ul>
        <% if (!user) { %>
          <div>URLs cannot be displayed unless users are logged in.  Please log in or register to continue.</div>
        <% } else { %> 
          <% for (var element in usersURLs) { %>
            <div>
            <li><b><%= element %></b> - <a href="<%= usersURLs[element].longURL %>"><%= usersURLs[element].longURL %></a></li>
            <form method="POST" action="/urls/<%= element %>/delete">
            <div class="form-group">
                <a href="/urls/<%= element %>">Edit</a><input type="submit" class="btn btn-primary" value="Delete"/>
              </div>
            </form>
          </div>
          <% }; %>
        <% } %> 
    </ul>
    </p>
</body>
</html>

